.vscode
dev
**/README.md
.secrets

# Git
.git*

# Don't load Jekyll outside of Docker container
_site
.jekyll-cache
.sass-cache
.bundle
vendor/bundle
*.log
.DS_Store

# Docker
.dockerignore
Dockerfile