#dashboard {
    padding: var(--base-page-margin);
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: var(--base-page-margin);
}

#articles {
    display: flex;
    flex-direction: column;
    gap: var(--base-page-margin);
}

#open-map {
    color: blue;
}

#close-map {
    color: red;
    margin-left: auto;
}

.stats {
    text-align: center;
    border: 1px solid black;
    background-color: aliceblue;
    padding: var(--base-page-margin);
}

#words-added, #articles-added {
    color: green;
}

#words-deleted, #articles-deleted {
    color: red;
}

#map {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: lightblue;
    padding: var(--base-page-margin);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}