.entry {
    display: flex;
    width: 75%;
}

.left {
    text-align: right;
}

.left, .right {
    width: 25%;
}

.dots {
    width: 75%;
    background: radial-gradient(circle at 50% 0.8em, #999 8%, transparent 8%);
    background-size: 0.5em;
    background-repeat: repeat-x;
}