:root {
    --base-font-size: 12px;
    --base-page-margin: 8px;
    --base-background: darkseagreen;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--base-font-size);
}

#contents {
    display: grid;
}

/* Header */

header {
    padding: 1em 2em;
    background: lightgray;
    color: black;
    display: flex;
    flex-direction: row;
}

#font-size-toggle {
    padding: inherit;
    margin-left: auto;
    place-content: center;
}

#font-size-toggle button {
    text-decoration: none;
    padding: 0.25em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#font-size-toggle button:focus {
    outline: 2px solid #333;
    outline-offset: 2px;
}

#font-size-toggle button:hover {
    opacity: 0.7;
}

/* Main navbar */

#main-nav {
    display: flex;
    background-color: #333;
}

#main-nav a {
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    text-align: center;
}

#main-nav a:hover {
    font-weight: bold;
}

/* Footer */

footer {
    padding: 10px;
    text-align: center;
    background: darkgray;
    color: white;
}

.fa {
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

/* Settings for container divs */

.page-margin {
    padding: var(--base-page-margin);
}

.flex-container {
    display: flex;
    flex-direction: row;
}

/* Elements of article page */

#container {
    background-color: var(--base-background);
}

#art-info, #nav {
    margin: var(--base-page-margin);
}

.art-holder, #nav {
    border: 2px solid black;
    border-radius: 9pt;
    background-color: floralwhite;
    overflow: auto;
}

#art-info {
    flex: 65%;
    height: 75vh;
    display: flex;
    flex-direction: column;
}

#nav {
    padding: var(--base-page-margin);
    flex: 35%;
}

.art-holder {
    padding: 0 8px;
}

.nav-sec {
    text-align: center;
    font-weight: bold;
}

/* Text elements */

.art {
    font-weight: bold;
}

.centered-heading {
    text-align: center;
}

/*
 * cl:; Clause
 * scl: Sub-clause
 * ex: Explanation
 * item: Item 
 */

.cl, .scl, .ex, .item {
    text-indent: 1em;
}

.scl {
    margin-left: 1em;
}

.item {
    margin-left: 2em;
}

#effective-date, .ex-hd {
    font-style: italic;
}

/* Deleting and inserting */

del {
    display: none;
}

ins, .overruled {
    display: inline;
    text-decoration: initial;
}

.overruled {
    font-style: italic;
}

del.changes {
    color: magenta;
    display: inline;
}

ins.changes, .overruled.changes {
    color: magenta;
    background-color: #ff00ff22;
}

li.changes.renum::marker, li.changes.renum::before {
    color: magenta;
}

/* Oaths */

.oath-option {
    display: inline-block;
}

.oath-swear {
    white-space: nowrap;
    text-decoration: underline;
}

.oath-affirm {
    display: block;
    text-align: center;
}

/* Constitutional influences */

#influence li {
    list-style: none;
}

.fi {
    border-radius: 0.25em;
}

.fi-ca-his { /* Canada (1921-1957) */
    background-image: url(../flags/4x3/ca-his.svg);
}

.fi-su { /* Soviet Union */
    background-image: url(../flags/4x3/su.svg);
}

.fi-za-his { /* South Africa (1928-1994) */
    background-image: url(../flags/4x3/za-his.svg);
}

/* Tables (First and Fourth Schedules) */

table {
    width: 100%;
}