#timeline {
    display: grid;
    height: 100px;
    padding: 8px;
    margin-top: auto;
}

#timeline, .art-holder {
    width: -webkit-fill-available;
}

/* Axis */

.timeline-axis, .timeline-label-container {
    width: 100%;
}

.timeline-axis {
    height: auto;
    position: relative;
}

.timeline-line {
    height: auto;
    border: 2px solid gray;
    top: calc(50% - 1px);
    position: relative;
    display: block;
}

.dec-mark {
    border: 0.5px solid lightgray;
    position: sticky;
    display: inline;
}

/* Labels */

.timeline-label, .timeline-label-bold {
    cursor: pointer;
    position: sticky;
    text-align: center;
    padding-left: 0.25em;
    border-left: 2px solid black;
    display: inline-block;
    height: 2.5em;
}

.timeline-label span {
    display: none;
    position: absolute;
}

.timeline-label:hover span, .timeline-label-bold span {
    display: inline;
}

.timeline-label-bold {
    font-weight: bold;
}