#timeline {
    height: 50px;
}

#timeline, .art-holder {
    width: 65%;
    display: inline-block;
}

.timeline-axis {
    width: 100%;
    height: 0;
    border: 2px solid gray;
}

.timeline-label, .timeline-label-bold {
    position: absolute;
    text-align: center;
}

.timeline-label-bold {
    font-weight: bold;
}