#timeline {
    display: grid;
    height: 100px;
}

#timeline, .art-holder {
    width: 65%;
}

/* Axis */

.timeline-axis, .timeline-label-container {
    width: 100%;
}

.timeline-axis {
    height: auto;
    position: relative;
}

.timeline-line {
    height: auto;
    border: 2px solid gray;
    top: calc(50% - 1px);
    position: relative;
    display: block;
}

.dec-mark {
    border: 0.5px solid lightgray;
    position: sticky;
    display: inline;
}

/* Labels */

.timeline-label-container {
    height: stretch; 
}

.timeline-label, .timeline-label-bold {
    cursor: pointer;
    position: sticky;
    text-align: center;
    font-size: 12px;
    padding-left: 0.25em;
    border-left: 1px solid gray;
    display: inline-block;
}

.timeline-label-bold {
    font-weight: bold;
}