<a class="lang" id="en" title="English">E</a>
<a class="lang" id="as" title="অসমীয়া">অ</a>
<a class="lang" id="bn" title="বাংলা">বা</a>
<a class="lang" id="gu" title="ગુજરાતી">ગુ</a>
<a class="lang" id="hi" title="हिन्दी">हि</a>
<a class="lang" id="kn" title="ಕನ್ನಡ">ಕ</a>
<a class="lang" id="ks" title="کٲشُر">ک</a>
<a class="lang" id="ml" title="മലയാളം">മ</a>
<a class="lang" id="mr" title="मराठी">म</a>
<a class="lang" id="ne" title="नेपाली">ने</a>
<a class="lang" id="or" title="ଓଡ଼ିଆ">ଓ</a>
<a class="lang" id="pa" title="ਪੰਜਾਬੀ">ਪੰ</a>
<a class="lang" id="sd" title="سنڌي">س</a>
<a class="lang" id="ta" title="தமிழ்">த</a>
<a class="lang" id="te" title="తెలుగు">తె</a>
<a class="lang" id="ur" title="اردو">اُ</a>

<link rel="stylesheet" type="text/css" href="/static/assets/lang-nav.css">