---
layout: default
---

{% assign placeholder = site.data.languages[page.lang] %}

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/assets/timelines.css">
<script src="{{ site.baseurl }}/static/src/timeline.js" type="module"></script>
<script src="{{ site.baseurl }}/static/src/nav-box.js" type="module"></script>

{{ content }}

<div id="container" class="flex-container">
    <div id="art-info">
        <div class="art-holder" data-version="{{ page.current-version }}" name="{{ page.current-version }}">
            {% include_relative {{ page.current-version }} %}
        </div>
        <div id="timeline"></div>
    </div>

    <div id="nav">
        {% if page.influences %}
        <div id="influence">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css"
                integrity="8olrmTcwXL3OYMeB+2ok8jx9/U/FZxeLnoRWdu1Pyi+lakrkqoI7hfysfQF5Q1Xx" crossorigin="anonymous" />
            <p class="nav-sec">{{ placeholder.influences-header }}</p>
            <ul>
                {% if page.influences.uk %}
                <li><span class="fi fi-gb"></span> {{ page.influences.uk }}</li>
                {% endif %}
                {% if page.influences.fr %}
                <li><span class="fi fi-fr"></span> {{ page.influences.fr }}</li>
                {% endif %}
                {% if page.influences.us %}
                <li><span class="fi fi-us"></span> {{ page.influences.us }}</li>
                {% endif %}
                {% if page.influences.ca %}
                <li><span class="fi fi-ca-his"></span> {{ page.influences.ca }}</li>
                {% endif %}
                {% if page.influences.au %}
                <li><span class="fi fi-au"></span> {{ page.influences.au }}</li>
                {% endif %}
                {% if page.influences.za %}
                <li><span class="fi fi-za-his"></span> {{ page.influences.za }}</li>
                {% endif %}
                {% if page.influences.de %}
                <li><span class="fi fi-de"></span> {{ page.influences.de }}</li>
                {% endif %}
                {% if page.influences.su %}
                <li><span class="fi fi-su"></span> {{ page.influences.su }}</li>
                {% endif %}
                {% if page.influences.ie %}
                <li><span class="fi fi-ie"></span> {{ page.influences.ie }}</li>
                {% endif %}
                {% if page.influences.jp %}
                <li><span class="fi fi-ie"></span> {{ page.influences.jp }}</li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>