---
layout: default
---

{% assign placeholder = site.data.languages[page.lang] %}
{% if page.all-contents %}
    {% assign tree = site.data.tree[page.lang] %}
{% else %}
    {% assign tree = site.data.tree[page.lang] | where_exp: "part", "page.path contains part.path_part" %}
{% endif %}

{% assign lang_pages = site.pages | filter_lang_pages: page.lang %}

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/static/assets/contents.css">

<div id="container" class="page-margin">
    <table id="main-con">
        {% if page.all-contents %}
        {% assign preamble = tree | where_exp: "part", "part.preamble" %}
        <tr>
            <td></td>
            <td id="preamble-link"><a href="{{ preamble.path_part }}">{{ preamble.header }}</a></td>
        </tr>
        {% endif %}

        {% for part in tree %}
        <tbody class="contents" id="{{ part.path_part | downcase }}">
            <tr>
                <th class="part-num" colspan="2">{{ part.marker }}</th>
            </tr>
            {% if part.header %}
            <tr>
                <th class="part-header" colspan="2">{{ part.header }}</th>
            </tr>
            {% endif %}
            {% if part.refs %}
            <tr>
                <th class="part-header" colspan="2">{{ part.refs }}</th>
            </tr>
            {% endif %}
            {% if part.note %}
            <tr>
                <td colspan="2"><i>Note: </i>{{ part.note }}</td>
            </tr>
            {% endif %}

            {% if part.has_chapters %}
                {% assign is_part_contents = page.dir | endswith: part.path_part %}
                {% if page.all-contents or is_part_contents %}
                    {% assign chapters = part.chapters %}
                {% else %}
                    {% assign chapters = part.chapters | where_exp: "chapter", "page.path contains chapter.path_part" %}
                {% endif %}
                {% for chapter in chapters %}
                    <tbody class="contents" id="{{ chapter.path_part | downcase }}">
                        <tr>
                            <th class="part-header" colspan="2">{{ chapter.header }}</th>
                        </tr>
                    </tbody>
                    {% assign chapter_full_path_part = part.path_part | append: chapter.path_part %}
                    {% assign articles = lang_pages | where_exp: "article", "article.path contains chapter_full_path_part" | filter_articles %}
                    {% assign articles_sorted = articles | sort_articles %}
                    {% for article in articles_sorted %}
                        {% assign num = article.dir | article_num %}
                        {% if chapter.subheadings and chapter.subheadings[num] %}
                        <tr>
                            <th class="subheading" colspan="2">{{ chapter.subheadings[num] }}</th>
                        </tr>
                        {% endif %}
                        <tr>
                            <td style="width: 5em;">{% unless article.path contains 'Schedules/' %} {{ num }}. {% endunless %}</td>
                            <td>
                                <a href="{{ site.baseurl }}{{ article.dir }}">{{ article | margin_text: num }}</a>
                                {% if article.article-omitted %}
                                <i>({{ placeholder.omitted }})</i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% else %}
                {% assign articles = lang_pages | where_exp: "article", "article.path contains part.path_part" | filter_articles %}
                {% assign articles_sorted = articles | sort_articles %}
                {% for article in articles_sorted %}
                    {% assign num = article.dir | article_num %}
                    {% if part.subheadings and part.subheadings[num] %}
                    <tr>
                        <th class="subheading" colspan="2">{{ part.subheadings[num] }}</th>
                    </tr>
                    {% endif %}
                    <tr>
                        <td style="width: 5em;">{% unless article.path contains 'Schedules/' %} {{ num }}. {% endunless %}</td>
                        <td>
                            <a href="{{ site.baseurl }}{{ article.dir }}">{{ article | margin_text: num }}</a>
                            {% if article.article-omitted %}
                            <i>({{ placeholder.omitted }})</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        {% endfor %}
    </table>
</div>

{{ content }}